body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-gap: 10px;
}
.box{
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: 30px;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  height: 100%;
  
}
.box1{
  grid-row: 1;
  grid-column: 1;
}
.box2{
  grid-row: 1;
  grid-column: 2;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
a:hover{
  color: rgba(197, 202, 205, 0.389);
}
#name{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  color: white;
}
.box h5{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
}

.content{
  font-style: normal;
  font-size: medium;
  text-align: justify;
}

li{
  text-align: left;
}